* {
  --one-minute: #ff0000;
  --three-days: #ff7b00;
  --seven-days: #8dc640;
}
.carousel {
  background-image: url(../assets/Blob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel h2 {
  text-align: center;
  font-size: 1.8rem;
}

#containertitle {
  position: relative;
}

#beta {
  position: absolute;
  background: orange;
  right: -60px;
  bottom: 20px;
  transform: rotate(27deg);
  font-size: 20px;
  font-weight: 600;
}

.carousel h3 {
  font-size: 1.5rem;
}

.carousel p {
  text-align: center;
  font-size: 1.2rem;
}

.slick-list {
  max-width: 700px;
}

.slick-slider {
  text-align: center;
}

.slick-active div {
  display: flex;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  opacity: 1;
}

#carousel1 h2 {
  margin-top: 80px;
}
#carousel1 p {
  margin-top: 50px;
  font-size: 1.1rem;
}
#carousel1 img {
  transform: translate(-180px, 45px) scale(1.1);
}

#carousel2 {
  display: flex !important;
  justify-content: space-evenly;
}
#S2C1 {
  transform: translate(45px, -30px);
}
#S2C2 {
  transform: translate(-30px, 30px);
}

#clocheCarousel {
  transform: scale(0.9);
}
#btnTimeCarousel {
  flex-direction: column;
}
#btnTimeCarousel p {
  margin-top: 20px;
  border-radius: 5px;
  width: 360px;
  padding: 12px 0px;
}
#btn5minutes {
  background-color: #ffea00;
}
#btn3jours {
  background-color: #ffb700;
}
#btn7jours {
  background-color: #ff7b00;
}

#carousel4 img {
  transform: translate(0px, 30px);
}
