* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Variable CSS  */
*{
  --color-background: #F0F3FF;
  --header-background: #423FE5;
  --landing-inscription-btn: #0015B2;
  --landing-connexion-btn: #F8F9FF;
  --seConnecter-btn: #0015B2;
  --sinscrire-btn: #FFB700;
  --cest-partis-btn: #423FE5;
  --one-minute: #FF0000;
  --three-days: #FF7B00;
  --seven-days: #8DC640;
  --selection-answer: #4B86F8;
  --false-ans: #E01E37;
  --logo-collection: #F18701;
  --background-modal: rgba(0,0,0,0.5)
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.App-header {
  background-color: var(--header-background);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.App-header h1{
  padding-left: 30px;
}

main{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-background);
}

.btn{
  width: 460px;
  height: 80px;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 0px #0000004D;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.btn-inscription{
  background-color: var(--landing-inscription-btn);
  color: white;
}

.btn-connexion{
  margin-left: 30px;
}