* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Variable CSS  */
* {
  --color-background: #f0f3ff;
  --header-background: #423fe5;
  --landing-inscription-btn: #0015b2;
  --landing-connexion-btn: #f8f9ff;
  --seConnecter-btn: #0015b2;
  --sinscrire-btn: #ffb700;
  --cest-partis-btn: #423fe5;
  --one-minute: #ff0000;
  --three-days: #ff7b00;
  --seven-days: #8dc640;
  --selection-answer: #4b86f8;
  --false-ans: #e01e37;
  --logo-collection: #f18701;
  --background-modal: rgba(0, 0, 0, 0.5);
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.App-header {
  background-color: var(--header-background);
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 30px;
}

/* .App-header h1 {
  padding-left: 30px;
} */

.App-header h1 a {
  text-decoration: none;
  color: #f8f9ff;
}

/* LOADER */

.containerLoaderSpine {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loaderSpine {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #423fe5;
  border-bottom-color: #423fe5;
  animation: spin 1s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textLoaderSpine {
  position: absolute;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

main {
  height: 90vh;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-background);
}

.btn {
  text-decoration: none;
  padding: 25px 140px;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 0px #0000004d;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.btn-inscription {
  background-color: var(--landing-inscription-btn);
  color: white;
}

.btn-connexion {
  margin-left: 30px;
  color: black;
}

.containerSignUp {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}
.containerSignUp form {
  height: 700px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  background-color: #f8f9ff;
}

.containerInForm {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.containerInForm div {
  display: flex;
  flex-direction: column;
}
.containerInForm div label {
  font-size: 18px;
  font-weight: 600;
}
.containerInForm div input {
  border-radius: 10px;
  background-color: #e5e5e5;
  border: none;
  height: 45px;
  padding: 5px;
  font-size: 18px;
}

#inscriptionFormH3 {
  font-size: 24px;
  padding: 20px 40px;
  background-color: #e5e5e5;
  color: #0015b2;
  border-radius: 45px;
}

#inscriptionFormSubmit {
  padding: 20px 60px;
  border: none;
  font-size: 24px;
  background-color: #ffb700;
  border-radius: 12px;
  color: white;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#inscriptionFormSubmit:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}
#inscriptionFormSubmit:hover:disabled {
  transform: none;
}
#inscriptionFormSubmit:disabled {
  padding: 20px 60px;
  border: none;
  font-size: 24px;
  background-color: #e5e5e5;
  border-radius: 12px;
  color: black;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.containerInFormConnexion {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.containerInFormConnexion div {
  display: flex;
  flex-direction: column;
}
.containerInFormConnexion div label {
  font-size: 18px;
  font-weight: 600;
}
.containerInFormConnexion div input {
  border-radius: 10px;
  background-color: #e5e5e5;
  border: none;
  height: 45px;
  padding: 5px;
  font-size: 18px;
}

#inscriptionFormConnexion {
  padding: 20px 60px;
  border: none;
  font-size: 24px;
  background-color: var(--seConnecter-btn);
  border-radius: 12px;
  color: white;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#inscriptionFormConnexion:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}
#inscriptionFormConnexion:hover:disabled {
  transform: none;
}
#inscriptionFormConnexion:disabled {
  padding: 20px 60px;
  border: none;
  font-size: 24px;
  background-color: #e5e5e5;
  border-radius: 12px;
  color: black;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.containerAccueil {
  display: flex;
  height: 90vh;
  width: 100vw;
  background-color: var(--color-background);
}

.sideBar {
  display: flex;
  width: 15vw;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
}

.sideBar ul {
  width: 100%;
}

.sideBar li {
  display: flex;
  padding: 35px 5px;
  border-bottom: 1px solid black;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#profilLi {
  flex-direction: column;
}
#profilLi img {
  transform: scale(1.4);
}
.sideBar li a {
  color: Black;
  font-weight: 400;
  padding: 0px;
  margin: 10px;
  text-decoration: none;
}

.sideBar li h2 {
  padding: 10px;
  text-decoration: none;
  transition: 0.05s ease-in-out;
}

.signOut {
  text-align: center;
  margin-bottom: 20px;
}

.signOut button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.signOut button:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#logoSignOut {
  height: 40px;
}

.active {
  border-bottom: #4b86f8 4px solid;
  border-radius: 3px;
  transition: 0.05s ease-in-out;
}

.containerUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}
.containerUl h2{
  margin-bottom: 55px;
}

.containerUl ul {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  position: relative;
  overflow-y: auto;
  margin-bottom: 30px;
}

.liMapCollectionCards {
  background: #fefefe;
  border-radius: 20px;
  display: flex;
  list-style: none;
  width: 600px;
  margin: 10px 0px;
  align-items: center;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 40%);
}
.liMapCollectionCards:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.divLiMapCollectionCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.liMapCollectionCards img {
  height: 35px;
  margin: 10px;
}

#btnPlay:hover {
  cursor: pointer;
}

.containerUser {
  width: 100%;
}

.containerProfil {
  width: 100%;
}

.divBtnPlus {
  position: relative;
  height: 70px;
  width: 600px;
}
.divBtnPlus button {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.divBtnPlus button:hover {
  background: none;
  border: none;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
#btnPlus {
  height: 50px;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 280px;
  width: 500px;
  z-index: 3;
  background: #ffb452;
  border-radius: 30px;
}
.btnCloseModal {
  margin: 10px;
  width: 30px;
  align-self: flex-end;
  background: none;
  border: none;
  transition: 0.3s ease-in-out;
}
.btnCloseModal:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.btnCloseModal img {
  height: 30px;
}

.formModal {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.formModal label {
  margin-top: 10px;
}
.formModal input {
  margin-top: 5px;
}
.formModal button {
  width: 80px;
  margin: 15px auto 0 auto;
  font-size: 16px;
  height: 30px;
  background: var(--selection-answer);
  border-radius: 20px;
  border: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.formModal button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.sombreModal {
  position: absolute;
  z-index: -2;
  height: 90vh;
  width: 100%;
  background: black;
  opacity: 0.9;
}

.containerQuiz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
}

#btnArowPreviously {
  border: none;
  background: none;
  align-self: start;
  margin: 20px;
}

#arowPreviously {
  height: 30px;
  transform: rotateZ(-90deg);
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
#arowPreviously:hover {
  transform: scale(1.1) rotateZ(-90deg);
  transition: 0.2s ease-in-out;
}

.containerCardsAdd {
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}
.containerCardsAdd:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.btnGo {
  text-decoration: none;
  background: #423fe5;
  font-size: 24px;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px rgba(0,0,0, 0.4);
}

.containerCardsForManage {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin: 50px 0 0px 0;
  width: 102%;
  
}

.cardsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  margin: 10px 0;
  width: 650px;
  border-radius: 17px;
  box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 40%);
}

.cardsCardsDivBTN {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}
.cardsTitle {
  padding: 10px;
}
.cardsText {
  padding: 10px;
  font-size: 14px;
  color: #c4c4c4;
}

.btnCardsManagement {
  background: none;
  border: none;
  transition: ease-in-out 0.2s;
}
.btnCardsManagement img {
  transition: ease-in-out 0.2s;
}

.btnCardsManagement img:hover {
  transform: scale(1.15);
  transition: ease-in-out 0.2s;
}
#crossRed {
  height: 20px;
}
#pencil {
  height: 20px;
}

/*  Modal cards Management*/

.sombreModalCardsManagement {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 90vh;
  width: 100%;
  background: black;
  opacity: 0.9;
}

.modalForCardsManagement {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #e5e5e5;
  width: 600px;
  z-index: 3;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  border-radius: 30px;
}

.formModalCardsManagement {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.formModalCardsManagement h5 {
  margin-top: 30px;
  margin-bottom: 5px;
}
.formModalCardsManagement textarea {
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
}
.formModalCardsManagement select {
  height: 30px;
  font-size: 16px;
}

.selectVraiFaux {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.selectVraiFaux select {
  width: 100%;
  margin-left: 10px;
}
.selectVraiFaux img {
  height: 25px;
}

.modificationCards {
  margin: 40px 0;
  width: 70%;
  height: 60px;
  background: #0015b2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  align-self: center;
}

.quizReponseModification textarea {
  width: 100%;
  resize: none;
  height: 30px;
  padding: 4px;
}
.deleteModalDiv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  z-index: 3;
  border-radius: 20px;
}
.deleteModalTitle {
  padding: 20px 30px;
}
.deleteModalBTN {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.deleteModalBTN button {
  font-size: 16px;
  font-weight: bold;
  background: none;
  border: none;
  transition: 0.2s ease-in-out;
}
.deleteModalBTN button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
#deleteBTN {
  color: red;
}

#btnPlusQuiz {
  position: absolute;
  top: 90px;
  right: 0px;
  height: 50px;
  transition: 0.15s ease-in-out;
}
#btnPlusQuiz:hover {
  transform: scale(1.1);
  transition: 0.15s ease-in-out;
}

.quizContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
}

.containerTest{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  scroll-margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #423fe5; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a38cc; 
}