* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Variable CSS  */
* {
  --color-background: #f0f3ff;
  --header-background: #423fe5;
  --landing-inscription-btn: #0015b2;
  --landing-connexion-btn: #f8f9ff;
  --seConnecter-btn: #0015b2;
  --sinscrire-btn: #ffb700;
  --cest-partis-btn: #423fe5;
  --one-minute: #ff0000;
  --three-days: #ff7b00;
  --seven-days: #8dc640;
  --selection-answer: #4b86f8;
  --false-ans: #e01e37;
  --logo-collection: #f18701;
  --background-modal: rgba(0, 0, 0, 0.5);
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.App-header {
  background-color: var(--header-background);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.App-header h1 {
  padding-left: 30px;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-background);
}

.btn {
  width: 460px;
  height: 80px;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 0px #0000004d;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.btn-inscription {
  background-color: var(--landing-inscription-btn);
  color: white;
}

.btn-connexion {
  margin-left: 30px;
}
