.carousel {
  background-image: url(./assets/Blob.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel h2 {
  text-align: center;
}

.carousel p {
  text-align: center;
}

.slick-list {
  max-width: 700px;
}

.slick-slider {
  text-align: center;
}

.slick-active div {
  display: flex;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  opacity: 1;
}

#carousel1 h2 {
  margin-top: 80px;
}
#carousel1 p {
  margin-top: 50px;
  font-size: 1.1rem;
}
#carousel1 img {
  transform: translate(-180px, 45px) scale(1.1);
}

#carousel1 {
}
#carousel2 {
}
#carousel3 {
}
#carousel4 {
}
